.background-wrap{
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}
.background {
    height: 400px;
    background-color: rgb(74, 180, 192);
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
}

h2{
    margin: 0;
}

.about-container {
    max-width: 1200px;
    padding: 20px;
    position: absolute;
    top: 5%; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.about-img-area {
    position: relative;
    width: 600px;
}

.about-img-area img {
    width: 100%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.about-name {
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 5px;
    margin: 0; 
    width: 100%;
    font-size: 3em;
}

.about-text-area{
    width: 800px;
    height: fit-content;
    padding: 20px;
    background-color: rgb(227, 227, 227);
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);

}

.about-links{
    display: grid;
    justify-content: right;
}
.github-img{
    width: 30px;
    will-change: transform;
    transition: transform 0.2s ease-in-out;
}
.github-img:hover{
    cursor: pointer;
    transform: scale(1.25);
}

/* Tablet screen size */
@media (max-width: 1200px) {
    .about-container {
        background-color: rgb(227, 227, 227);
        border-radius: 10px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
        align-items: normal;
        width: 700px;
        top: 10%;
        padding-bottom: 0px;
    }

    .about-img-area{
        width: 500px;
    }

    .about-img-area img{
        width: 400px;
        margin-left: -100px;
        transform: translate(-70px, -50px);
    }

    .about-name {
        width: 300px;
        top: -30%;
        left: 85%;
    }

    .about-text-area{
        filter: none;
        background: none;
        padding: 0;
        margin-left: -50px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0);
    }

}

/* Mobile screen size */
@media (max-width: 700px) {
    .about-container {
        padding: 0;
        width: 100%;
        flex-direction: column;
        background: none;
        filter: none;
        align-items: center;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0);
    }

    .about-img-area {
        width: 100%;
        display: inline;
        margin: auto;
    }

    .about-img-area img {
        width: 90%;
        height: auto;
        margin: auto;
        margin-top: -30px;
        margin-left: 5%;
        transform: translate(0px, 0px);
    }

    .about-name {
        position: absolute;
        left: 50%;
        top: 75%;
        transform: translateX(-50%);
        text-align: center;
        font-size: 3em;
    }

    .about-text-area {
        width: 90%;
        padding: 10px;
        text-align: left;
        margin: auto;
    }

    .about-text-area h2{
        text-align: center;
        margin-top: 15px;
    }

    .about-links{
        margin-top: 20px;
        justify-content: center;
    }
}
